body{
    background-color: lightblue;
}
footer{
    background-color:white;
    color:black;
    text-align: center;
    padding:5px;
    font-size: 20px;
    
  }
  footer a:hover{
  color: black;
  }
  .copy{
    padding:10px;
    background-color: rgb(35, 79, 136);
    }
    